<breadcrumbs parent="breadcrumbs.colors" page="'solid'"></breadcrumbs>
<div class="row">
	<div class="col-md-12">
		
		<h4 class="space3">Primary Accent Colors</h4>
		<div class="row">
			<p class="space3 col-md-8">
				Wes Anderson before they sold out chambray, viral High Life Pinterest forage pork belly Schlitz. Fashion axe High Life readymade polaroid butcher. DIY tousled VHS small batch synth organic. Plaid jean shorts normcore, vegan skateboard bitters Thundercats direct trade post-ironic art party flexitarian tousled seitan mixtape cornhole.
			</p>
		</div>

		<ul class="list-unstyled">
			<li ng-repeat="item in colors.solid.primary" class="photo-text font-12 color-box-text space5">
				<div class="color-box mr bg {{item.class}}"></div>
				<div class="text-content">
				<h5 class="text-upper">{{item.title}}</h5>
				<strong>{{item.description}}</strong><br>
				HTML: <span class="text-upper">{{item.html}}</span>
				<div class="space1"></div>
				<strong>R</strong> {{item.R}}  
				<strong>G</strong> {{item.G}}
				<strong>B</strong> {{item.B}} <br>
				<strong>C</strong> {{item.C}}  
				<strong>M</strong> {{item.M}}
				<strong>Y</strong> {{item.Y}}
				<strong>K</strong> {{item.K}}
				</div>
			</li>
		</ul>

		<div class="space5"></div>
		
		<h4 class="space3">Secondary Accent Colors</h4>
		<div class="row">
			<p class="space3 col-md-8">
				Wes Anderson before they sold out chambray, viral High Life Pinterest forage pork belly Schlitz. Fashion axe High Life readymade polaroid butcher. DIY tousled VHS small batch synth organic. Plaid jean shorts normcore, vegan skateboard bitters Thundercats direct trade post-ironic art party flexitarian tousled seitan mixtape cornhole.
			</p>
		</div>

		<ul class="list-unstyled">
			<li ng-repeat="item in colors.solid.secondary" class="photo-text font-12 color-box-text space5">
				<div class="color-box mr bg {{item.class}}"></div>
				<div class="text-content">
				<h5 class="text-upper">{{item.title}}</h5>
				<strong>{{item.description}}</strong><br>
				HTML: <span class="text-upper">{{item.html}}</span>
				<div class="space1"></div>
				<strong>R</strong> {{item.R}}  
				<strong>G</strong> {{item.G}}
				<strong>B</strong> {{item.B}} <br>
				<strong>C</strong> {{item.C}}  
				<strong>M</strong> {{item.M}}
				<strong>Y</strong> {{item.Y}}
				<strong>K</strong> {{item.K}}
				</div>
			</li>
		</ul>
	</div>
</div>