.logo{
	background-image: url(/assets/images/logos/logo-short-magenta.svg);
	background-size: 100%;
	width: 110px;
	height: 102px;
	&.full{
		&.black{ background-image: url(/assets/images/logos/logo-full-black.svg); }
		&.magenta{ background-image: url(/assets/images/logos/logo-full-magenta.svg); }
		&.white1{ background-image: url(/assets/images/logos/logo-full-white1.svg); }
		&.white2{ background-image: url(/assets/images/logos/logo-full-white2.svg); }
	}
	&.short{
		&.black{ background-image: url(/assets/images/logos/logo-short-black.svg); }
		&.magenta{ background-image: url(/assets/images/logos/logo-short-magenta.svg); }
		&.white1{ background-image: url(/assets/images/logos/logo-short-white1.svg); }
		&.white2{ background-image: url(/assets/images/logos/logo-short-white2.svg); }
	}
}