<breadcrumbs parent="breadcrumbs.typography" page="'fonts'"></breadcrumbs>

<div class="col-md-9">

	<div class="space10">
		<h4 class="space3">Pluto</h4>
		<p>Pluto Comic Sans walks into a bar and orders a drink. The bartender turns around and says “We don’t serve your type here”. Fortunately, they do serve Pluto, which is a good thing since it is our main typeface. It should be used for main headers and titles. Like a good drink, don’t over do it. Use Pluto when you really want to draw attention. There are times when Pluto will not be available, for example in some of our Google Docs. If Pluto is not available then use Helvetica Neue instead.</p>	

		<p>
			<span class="pluto thin">Thin</span>, 
			<span class="pluto extra-light">Extralight</span>, 
			<span class="pluto light">Light</span>, 
			Regular, 
			<span class="pluto medium">Medium</span>, 
			<span class="pluto bold">Bold</span>, 
			<span class="pluto heavy">Heavy</span>, 
			<span class="pluto black">Black</span>, 
			<span class="pluto-condensed thin">Cond Thin</span>, 
			<span class="pluto-condensed extra-light">Cond ExtraLight</span>, 
			<span class="pluto-condensed light">Cond Light</span>, 
			Cond Regular, 
			<span class="pluto-condensed medium">Cond Medium</span>, 
			<span class="pluto-condensed bold">Cond Bold</span>, 
			<span class="pluto-condensed heavy">Cond Heavy</span>, 
			<span class="pluto-condensed black">Cond Black</span>
		</p>

		<div class="pluto">
			<div>abcdefghijklmnopqrstuvwxyz</div>
			<div class="text-upper">abcdefghijklmnopqrstuvwxyz</div>
			<div>1234567890 ?!(/)&$aou</div>
		</div>
		
	</div>


	<div class="font-open-sans space10">
		<h4 class="space3">Open Sans</h4>
		<p>
			<a href="https://www.google.com/fonts/specimen/Open+Sans">Open Sans</a> should be used for everything else. Body copy, captions, instructions messages and probably most labels should all be in Open Sans. Elements like buttons could be in Pluto or Open Sans depending on the importance of the button. Yah! We love free Google Fonts.			
		</p>
	
		<p>
			<span class="open-sans light">Light</span>, 
			<span class="open-sans light">Light Italic</span>, 
			Regular, 
			<i class="open-sans">Italic</i>, 
			<span class="open-sans semi-bold">Semibold</span>, 
			<i class="open-sans semi-bold">Semibold Italic</i>, 
			<span class="open-sans bold">Bold</span>, 
			<i class="open-sans bold">Bold Italic</i>, 
			<span class="open-sans extra-bold">Extra Bold</span>, 
			<i class="open-sans extra-bold">Extra Bold Italic</i>
		</p>
	
		<div class="open-sans">
			<div>abcdefghijklmnopqrstuvwxyz</div>
			<div class="text-upper">abcdefghijklmnopqrstuvwxyz</div>
			<div>1234567890 ?!(/)&$aou</div>
		</div>
	</div>
</div>
