<breadcrumbs parent="breadcrumbs.typography" page="'fonts'"></breadcrumbs>

<div class="col-md-9">

	<div class="font-12 space10">
		<h4 class="space3">Pluto</h4>
		<p>Wes Anderson before they sold out chambray, viral High Life Pinterest forage pork belly Schlitz. Fashion axe High Life readymade polaroid butcher. DIY tousled VHS small batch synth organic. Plaid jean shorts normcore, vegan skateboard bitters Thundercats direct trade post-ironic art party flexitarian tousled seitan mixtape cornhole.</p>	

		<p>
			<span class="pluto thin">Thin</span>, 
			<span class="pluto extra-light">Extralight</span>, 
			<span class="pluto light">Light</span>, 
			Regular, 
			<span class="pluto medium">Medium</span>, 
			<span class="pluto bold">Bold</span>, 
			<span class="pluto heavy">Heavy</span>, 
			<span class="pluto black">Black</span>, 
			<span class="pluto-condensed thin">Cond Thin</span>, 
			<span class="pluto-condensed extra-light">Cond ExtraLight</span>, 
			<span class="pluto-condensed light">Cond Light</span>, 
			Cond Regular, 
			<span class="pluto-condensed medium">Cond Medium</span>, 
			<span class="pluto-condensed bold">Cond Bold</span>, 
			<span class="pluto-condensed heavy">Cond Heavy</span>, 
			<span class="pluto-condensed black">Cond Black</span>
		</p>

		<div class="pluto">
			<div>abcdefghijklmnopqrstuvwxyz</div>
			<div class="text-upper">abcdefghijklmnopqrstuvwxyz</div>
			<div>1234567890 ?!(/)&$aou</div>
		</div>
		
	</div>


	<div class="font-open-sans font-12 space10">
		<h4 class="space3">Open Sans</h4>
		<p>Wes Anderson before they sold out chambray, viral High Life Pinterest forage pork belly Schlitz. Fashion axe High Life readymade polaroid butcher. DIY tousled VHS small batch synth organic. Plaid jean shorts normcore, vegan skateboard bitters Thundercats direct trade post-ironic art party flexitarian tousled seitan mixtape cornhole.</p>	
	
		<p>
			<span class="open-sans light">Light</span>, 
			<span class="open-sans light">Light Italic</span>, 
			Regular, 
			<i class="open-sans">Italic</i>, 
			<span class="open-sans semi-bold">Semibold</span>, 
			<i class="open-sans semi-bold">Semibold Italic</i>, 
			<span class="open-sans bold">Bold</span>, 
			<i class="open-sans bold">Bold Italic</i>, 
			<span class="open-sans extra-bold">Extra Bold</span>, 
			<i class="open-sans extra-bold">Extra Bold Italic</i>
		</p>
	
		<div class="open-sans">
			<div>abcdefghijklmnopqrstuvwxyz</div>
			<div class="text-upper">abcdefghijklmnopqrstuvwxyz</div>
			<div>1234567890 ?!(/)&$aou</div>
		</div>
	</div>
</div>
