<breadcrumbs parent="breadcrumbs.typography" page="'subheaders'"></breadcrumbs>

<div class="row">
	<div class="col-md-9">
		<div class="row space3 font-16">
			<div class="col-md-6">Pluto Condensed / Medium</div>
			<div class="col-md-3">60pt</div>
			<div class="col-md-3">#000000</div>
		</div>
		<h1>Main Titles</h1>
		<div class="ml-50 space10 font-16">
			<p class="space3">
				<span class="open-sans semi-bold">Notes</span>: Art party chia ennui, fashion axe Echo Park ethnic pop-up Williamsburg hella aesthetic distillery. McSweeney's flexitarian street art chillwave kale chips, gastropub twee organic direct trade fanny pack kogi Marfa iPhone.
			
			</p>
			<div class="space3 open-sans semi-bold">
				Example
			</div>
			<h1>Global.<br>Technology.<br>Design<br></h1>
		</div>

		<div class="row space3 font-16">
			<div class="col-md-6">Pluto Condensed / Medium</div>
			<div class="col-md-3">48pt</div>
			<div class="col-md-3">#000000</div>
		</div>
		<h2>Headers</h2>
		<div class="ml-50 space10">
			<p class="space3">
				<span class="open-sans semi-bold">Notes</span>: Art party chia ennui, fashion axe Echo Park ethnic pop-up Williamsburg hella aesthetic distillery. McSweeney's flexitarian street art chillwave kale chips, gastropub twee organic direct trade fanny pack kogi Marfa iPhone.
			
			</p>
			<div class="space3 open-sans semi-bold">
				Example
			</div>
			<h2>Recent Projects</h2>
		</div>


		<div class="row space3 font-16">
			<div class="col-md-6">Pluto Condensed / Medium</div>
			<div class="col-md-3">30pt</div>
			<div class="col-md-3">#000000</div>
		</div>
		<h3>Main Titles</h3>
		<div class="ml-50 space10">
			<p class="space3">
				<span class="open-sans semi-bold">Notes</span>: Art party chia ennui, fashion axe Echo Park ethnic pop-up Williamsburg hella aesthetic distillery. McSweeney's flexitarian street art chillwave kale chips, gastropub twee organic direct trade fanny pack kogi Marfa iPhone.
			
			</p>
			<div class="space3 open-sans semi-bold">
				Example
			</div>
			<h3>Andy Pratt</h3>
		</div>
	</div>
</div>