@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800);

.open-sans{
  font-family: 'Open Sans';
  &.light{
    font-weight: 300;
  }
  &.semi-bold{
    font-weight: 600;
  }
  &.bold{
    font-weight: 700;
  }
  &.extra-bold{
    font-weight: 700;
  }
}
