<breadcrumbs parent="breadcrumbs.logo" page="'fm'"></breadcrumbs>
<div class="font-12">
	<div class="row space8">
		<div class="col-md-9">
			<h4>General guidelines for all logos</h4>
			<p>Etsy wayfarers gastropub, gluten-free sustainable wolf PBR&B twee street art food truck Godard four loko 8-bit Williamsburg asymmetrical. Slow-carb meggings ennui, swag fanny pack hoodie Wes Anderson PBR gastropub Banksy Neutra bespoke selvage 8-bit. Sustainable pour-over viral authentic, ethical kitsch kale chips lo-fi. Stumptown small batch roof party, put a bird on it Neutra pug sartorial fanny pack polaroid flexitarian mixtape. Beard biodiesel flexitarian, Tonx Carles messenger bag Schlitz aesthetic cliche readymade meh Pitchfork. Butcher letterpress Vice kitsch. Bitters Truffaut scenester, artisan slow-carb single-origin coffee you probably haven't heard of them umami American Apparel mustache VHS irony hoodie. </p>
			
		</div>
	</div>
	
	<div class="space10">
		<div class="row space2">
			<div class="col-md-8">
				<h4>Full Logos</h4>
			</div>
			<div class="col-md-3 text-right">
				Download All <br>
				PNG ESP
			</div>
		
		</div>
		<div class="row space2">
			<div class="col-md-9">
				<p>
					Butcher letterpress Vice kitsch. Bitters Truffaut scenester, artisan slow-carb single-origin coffee you probably haven't heard of them umami American Apparel mustache VHS irony hoodie. 
				</p>
				
			</div>
			
		</div>
		<ul class="panel list-unstyled bg fm-gray2 list-logo text-center">
			<li>
				<div class="logo full magenta"></div>
				Favorite Medium 1 <br>
				Download <br>
				<div class="font-10">PNG ESP</div>
			</li>
			<li>
				<div class="logo full white1"></div>
				Favorite Medium 1 <br>
				Download <br>
				<div class="font-10">PNG ESP</div>
			</li>
			<li>
				<div class="logo full black"></div>
				Favorite Medium 1 <br>
				Download <br>
				<div class="font-10">PNG ESP</div>
			</li>
			<li>
				<div class="logo full white2"></div>
				Favorite Medium 1 <br>
				Download <br>
				<div class="font-10">PNG ESP</div>
			</li>
		</ul>
	</div>
	
	<div class="space10">
		<div class="row space2">
			<div class="col-md-8">
				<h4>FM Short Logos</h4>
			</div>
			<div class="col-md-3 text-right">
				Download All <br>
				PNG ESP
			</div>
		
		</div>
		<div class="row space2">
			<div class="col-md-9">
				<p>
					Butcher letterpress Vice kitsch. Bitters Truffaut scenester, artisan slow-carb single-origin coffee you probably haven't heard of them umami American Apparel mustache VHS irony hoodie. 
				</p>
				
			</div>
			
		</div>
		
		<ul class="panel list-unstyled bg fm-gray2 list-logo text-center">
			<li>
				<div class="logo short magenta"></div>
				FM 1 <br>
				Download <br>
				<div class="font-10"><a href="/assets/images/logos/logo-short-magenta.svg" download="logo-short-magenta">SVG</a> ESP</div>
			</li>
			<li>
				<div class="logo short white1"></div>
				FM 2 <br>
				Download <br>
				<div class="font-10">PNG ESP</div>
			</li>
			<li>
				<div class="logo short black"></div>
				FM 3 <br>
				Download <br>
				<div class="font-10">PNG ESP</div>
			</li>
			<li>
				<div class="logo short white2"></div>
				FM 4 <br>
				Download <br>
				<div class="font-10">PNG ESP</div>
			</li>
		</ul>
	</div>
</div>
