<div class="row">
	<div class="col-md-9">
		<h3 class="breadcrumbs space7"><span class="text-upper">Overview</span></h3>

		<p>
			Welcome to the internal Favorite Medium style guide. You may have noticed we have a lot of internal products in the works. We want them to feel “on brand”. This guide is the first step in defining what that looks and feels like. It is a tool for designers and developers.
		</p>
		<p>
			The first version of the style guide contains some of the basics: logos, fonts, colors etc… But it should become more than that. Can we create a common lexicon of visual, ui and code elements to create efficiency in our workflow and consistency in our products? In order to do that we need your input.
		</p>
		<p>
			The current product owner is Fionnuala. She will help manage new requests and additions. If you have questions, or concerns, or would like to add something to the style guide, please reach out to her. <a href="mailto:fionnuala@favoritemedium.com">fionnuala@favoritemedium.com</a>
		</p>
		<p>
			If you have questions about any of the design related elements, please reach out to Andy P. <a href="mailto:pratt@favoritemedium.com">pratt@favoritemedium.com</a>
		</p>

	</div>
</div>